// COLOURS
$red: rgb(254, 67, 101);
$ora: rgb(255, 101, 73);
$yel: rgb(217, 229, 119);
$gre: rgb(17, 208, 183);
$blu: rgb(59, 89, 152);
$pur: rgb(220, 120, 220);

$blk: rgb(0, 0, 0);
$gr5: rgb(37, 37, 37);
$gr4: rgb(42, 42, 42);
$gr3: rgb(116, 116, 166);
$gr2: rgb(172, 172, 172);
$gr1: rgb(241, 241, 241);
$whi: rgb(255, 255, 255);

.red { color: rgb(254, 67, 101); }
.ora { color: rgb(255, 101, 73); }
.yel { color: rgb(217, 229, 119); }
.gre { color: rgb(17, 208, 183); }
.blu { color: rgb(59, 89, 152); }
.pur { color: rgb(220, 120, 220); }

.blk { color: rgb(0, 0, 0); }
.gr4 { color: rgb(37, 37, 37); }
.gr3 { color: rgb(42, 42, 42); }
.gr2 { color: rgb(172, 172, 172); }
.gr1 { color: rgb(241, 241, 241); }
.whi { color: rgb(255, 255, 255); }

a,
button,
a.button:active,
a.button:focus,
a.button:hover,
figcaption .fa,
p,
.about__ul li,
.aside__work--title,
.copyright a:active,
.copyright a:focus,
.copyright a:hover,
.nav__dropdown--head { color: $whi; }

body, .header__a--logo { background: $gr5; }

button, .button { background: $ora; }

figure:active figcaption,
figure:focus figcaption,
figure:hover figcaption {
  border-bottom: 10px solid $gr1;
  border-left: 2.5px solid $gr1;
  border-right: 2.5px solid $gr1;
  border-top: 5px solid $gr1;
  background: rgba(20, 20, 20, 0.8);
}

form button,
.aside__work--title { background: $gre; }

h2 { color: $ora; }

a:active,
a:focus,
a:hover,
h3,
input,
textarea,
.aside__work--link a:active,
.aside__work--link a:focus,
.aside__work--link a:hover,
.copyright a,
.sub-head { color: $gre; }

.aside__work { color: black;}

.aside__work ul { background: $whi; }

.aside__work--link a { color: $blu; }

.contact__div {  a, p { color: $gr3; } }

.nav__sidebar--link {
  background: $whi;
  border: 1px solid $gr5;
}

.nav__sidebar--active {
  background: $gr5;
  border: 1px solid $whi;
}

.header__a--logo { border: 1px solid $whi; }


.nav__dropdown { background: rgba(37, 37, 37, 0.9) }

::-moz-placeholder {
  color: $gre;
  opacity: 1;
}// Firefox 19+

:-moz-placeholder { color: $gre; }// Firefox 18-

:-ms-input-placeholder { color: $gre; }//  IE 10+

::-webkit-input-placeholder { color: $gre; }// Chrome/Opera/Safari
