// COLOURS
$red: rgb(254, 67, 101);
$ora: rgb(255, 101, 73);
$yel: rgb(217, 229, 119);
$gre: rgb(17, 208, 183);
$blu: rgb(59, 89, 152);
$pur: rgb(220, 120, 220);

$blk: rgb(0, 0, 0);
$gr5: rgb(37, 37, 37);
$gr4: rgb(42, 42, 42);
$gr3: rgb(116, 116, 166);
$gr2: rgb(172, 172, 172);
$gr1: rgb(241, 241, 241);
$whi: rgb(255, 255, 255);

.red { color: rgb(254, 67, 101); }
.ora { color: rgb(255, 101, 73); }
.yel { color: rgb(217, 229, 119); }
.gre { color: rgb(17, 208, 183); }
.blu { color: rgb(59, 89, 152); }
.pur { color: rgb(220, 120, 220); }

.blk { color: rgb(0, 0, 0); }
.gr4 { color: rgb(37, 37, 37); }
.gr3 { color: rgb(42, 42, 42); }
.gr2 { color: rgb(172, 172, 172); }
.gr1 { color: rgb(241, 241, 241); }
.whi { color: rgb(255, 255, 255); }
