// CONTACT
form {
  @include flex-y;
  width: 50%;
  button {
    align-self: flex-start;
    background: $gre;
    margin: 0;
  }
}

form, input, textarea {
  margin-bottom: 2.5rem;
}

input { height: 3rem; }

input, textarea {
  padding: 1rem;
  resize: none;
}

.aside__contact {
  @include flex-x;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contact__div {
  padding-left: 2.5rem;
}

.contact__div:not(:nth-of-type(3)) {
  width: 50%;
}

.contact__ul--social {
  li {
    display: inline-block;
  }
}
