// CONTACT
input {
  height: 5rem;
  padding: 1rem;
}

input,
form,
textarea {
  margin-bottom: 3rem;
}

form {
  @include flex-y;
  width: 70%;
  button {
    align-self: flex-start;
    margin: 0;
  }
}

textarea {
  resize: none;
  padding: 2rem 1rem;
}

.contact__div {
  padding-left: 5rem;
  a {
    padding: 1rem 0;
    margin: 1rem 0;
  }
  li {
    margin: 1rem 0;
  }
}

.contact__ul--social li {
  display: inline-block;
}
