// GLOBAL
@mixin flex-x {
  display: flex;
  flex-direction: row;
}

@mixin flex-y {
  display: flex;
  flex-direction: column;
}

@mixin flex-centre {
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  margin: 0 auto;
  padding: 1rem 4rem;
}

html { font-size: 62.5%; } // 10px

ul {
  list-style: inside none;
  padding-left: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1170px;
  min-width: 300px;
  padding-left: 10px;
  width: 75vw;
}
