// GLOBAL

// COLOUR
$red: rgb(254, 67, 101);
$ora: rgb(255, 101, 73);
$yel: rgb(217, 229, 119);
$gre: rgb(17, 208, 183);
$blu: rgb(59, 89, 152);
$pur: rgb(220, 120, 220);

$blk: rgb(0, 0, 0);
$gr5: rgb(37, 37, 37);
$gr4: rgb(42, 42, 42);
$gr3: rgb(116, 116, 166);
$gr2: rgb(172, 172, 172);
$gr1: rgb(241, 241, 241);
$whi: rgb(255, 255, 255);

.red { color: rgb(254, 67, 101); }
.ora { color: rgb(255, 101, 73); }
.yel { color: rgb(217, 229, 119); }
.gre { color: rgb(17, 208, 183); }
.blu { color: rgb(59, 89, 152); }
.pur { color: rgb(220, 120, 220); }

.blk { color: rgb(0, 0, 0); }
.gr4 { color: rgb(37, 37, 37); }
.gr3 { color: rgb(42, 42, 42); }
.gr2 { color: rgb(172, 172, 172); }
.gr1 { color: rgb(241, 241, 241); }
.whi { color: rgb(255, 255, 255); }

// TYPE
$bodyFont: 'Raleway', sans-serif;
$displayFont: 'Inconsolata', monospace;

$head1: calc(1.5rem + (20 - 1.5) * ((100vw - 320px) / (1170 - 320)));
$head2: calc(2rem + (50 - 2) * ((100vw - 320px) / (1170 - 320)));
$head3: calc(1.25rem + (15 - 1.25) * ((100vw - 320px) / (1170 - 320)));
$head3: calc(1.25rem + (15 - 1.25) * ((100vw - 320px) / (1170 - 320)));

$body: calc(0.9rem + (10 - 0.9) * ((100vw - 320px) / (1170 - 320)));

.bold { font-weight: 700; }
.indent { padding-left: 2rem; }
.sub-head { display: block; }

h1, h2, h3, h4, .sub-head {
  font-family: $displayFont;
  font-weight: 400;
  text-transform: uppercase;
}

h1, h2 {
  letter-spacing: 0.5rem;
}

h1 { font-size: $head1; }

h2 {
  color: $ora;
  font-size: $head2;
}

.sub-head, h3 {
  color: $gre;
  font-size: $head3;
}

a {
  text-decoration: none;
}

a, p {
  font-family: $displayFont;
  font-size: $body;
}

// LAYOUT
@mixin flex-x {
  display: flex;
  flex-direction: row;
}

@mixin flex-y {
  display: flex;
  flex-direction: column;
}

@mixin flex-centre {
  align-items: center;
  justify-content: center;
}

html {
  font-size: 62.5%; // 10px
}

body {
  background: $gr4;
  margin-top: -1px;
  padding: 0;
  // TEMPORARY
  color: $whi;
}

.wrapper {
  margin: 0 auto;
  max-width: 1170px;
  min-width: 320px;
  width: 90%;
  // width: 95vw;
}

button {
  background: $ora;
  border: none;
  color: white;
  font-family: $displayFont;
  font-size: $body;
  height: 4.5rem;
  margin: 0 auto;
  width: 17rem;
}

ul {
  list-style: inside none;
  padding-left: 0;
}
