// TYPE
$red: rgb(254, 67, 101);
$ora: rgb(255, 101, 73);
$yel: rgb(217, 229, 119);
$gre: rgb(17, 208, 183);
$blu: rgb(59, 89, 152);
$pur: rgb(220, 120, 220);

$blk: rgb(0, 0, 0);
$gr4: rgb(37, 37, 37);
$gr3: rgb(42, 42, 42);
$gr2: rgb(172, 172, 172);
$gr1: rgb(241, 241, 241);
$whi: rgb(255, 255, 255);

// TYPE
$bodyFont: 'Raleway', sans-serif;
$displayFont: 'Inconsolata', monospace;

// calc(1.6rem + (20 - 1.6) * ((100vw - 300px) / (1600 - 300)));

// LAYOUT
html {
  font-size: 62.5%; // 10px
}

.wrapper {
  // margin: 1rem auto;
  max-width: 1600px;
  min-height: 95vh;
  min-width: 300px;
  // padding: 1rem;
  // text-align: center;
  width: 95vw;
}

button {
  border: none;
}

textarea {
  resize: none;
  // width: 100%;
  padding: 1rem;
}

ul {
  list-style: inside none;
  padding-left: 0;
  li {
    display: inline-block;
  }
}
