// HEADER
header {
  height: 60px;
  position: relative;
}

.header__div--logo {
  @include flex-x;
  @include flex-centre;
  height: 60px;
  left: 5%;
  width: 60px;
  img {
    height: 50px;
  }
}

.header__div--logo,
.header__img--menu-collapse {
  position: fixed;
  z-index: 1;
}

.header__img--menu-collapse {
  height: 16px;
  right: 5%;
  width: 36px;
}
