// HEADER
.header__top {
  height: 60px;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.header__a--logo {
  display: inline-block;
  height: 60px;
  left: 5px;
  padding: 4px;
  position: absolute;
  text-align: center;
  width: 60px;
  img {
    height: 50px;
  }
}

// SIDEBAR
.nav__sidebar {
  top: 45vh;
  right: 20px;
  width: 30px;
  z-index: 1;
  position: absolute;
  ul {
    width: 100%;
  }
}

.nav__sidebar--link {
  cursor: pointer;
  height: 10px;
  margin: 1rem 0;
  a {
    display: block;
    height: 100%;
    padding: 0;
    width: 100%;
  }
}

.nav__dropdown--menu-collapse {
  color: $whi;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 30px;
  z-index: 1;
}

// DROPDOWN MENU
.nav__dropdown {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

.nav__dropdown--menu {
  max-width: 60%;
}

.nav__dropdown--menu,
.nav__dropdown--social {
  @include flex-x;
  justify-content: space-between;
  margin: 10vh auto;
}

.nav__dropdown--social  {
  max-width: 40%;
}

.nav__dropdown--link {
  display: inline-block;
}

.nav__dropdown--link:first-child {
  padding-left: 0;
}

.nav__dropdown--link:last-child {
  padding-right: 0;
}
