// MEDIA QUERIES
@media screen and (max-width: 900px) {
  section {
    min-height: auto;
  }

  form,
  .aside__work,
  .work__div--gallery {
    width: 100%;
  }

  .about__div--edu {
    display: block;
  }

  .contact__div {
    padding-left: 0;
  }

  .home__div--half {
    height: auto;
  }

  .section__work > .section__content,
  .section__contact > .section__content {
    @include flex-y;
  }
}

@media screen and (max-width: 600px) {

  section {
    margin: 0;
    width: 75vw;
    text-align: left;
  }

  button {
    width: 100%;
  }

  figure {
    width: 100%;
    margin: 0;
  }

  .header__top {
    height: 70px;
    background: $gr5;
    margin-top: -15px;
    padding: 5px 0;
  }

  .nav__dropdown--menu {
    max-width: 75%;
  }

}
