// WORK
.section__work > .section__content {
  @include flex-x;
  justify-content: space-between;
}

.aside__work {
  margin: -0.75rem 1rem 0 0;
  width: 30%;
  ul { background: $whi; }
  li { padding: 1rem; }
  li:first-child { background: $gre; }
  li:not(:first-child) { color: black; }
}

.work__div--gallery {
  @include flex-x;
  flex-wrap: wrap;
  justify-content: flex-end;
}

figure {
  margin: 1rem;
  margin-top: 0;
  max-width: calc(50% - 2rem);
}
